@page "/dictionary"
@using EnglishMasterWebAssembly.Shared.Models
@using System.Timers
@using Newtonsoft.Json
@inject HttpClient http
<div class="main-area">
    @if (_isDisplay)
    {
        <div>
            <div class="mean-area">
                @foreach (var item in _displayList)
                {
                    <div>@_partOfSpeechList.First(a => a.Id == item.PartOfSpeechId).InJapanese</div>
                    <div>@item.Meaning</div>
                }
            </div>
            <button @onclick="(() => _isDisplay = false)" class="btn-base">Back to list</button>
        </div>
    }
    else
    {
        <div class="d-flex align-items-start">
            <div class="nav flex-column nav-pills"
                 id="v-pills-tab"
                 role="tablist"
                 aria-orientation="vertical">
                @foreach (var item in _wordList.GroupBy(a => a.Word1.ToUpper().First()).OrderBy(a => Convert.ToInt16(a.Key)))
                {
                    string class1 = "";
                    if (item.Key == 'A')
                    {
                        class1 = "nav-link nav-icon-round active";
                    }
                    else
                    {
                        class1 = "nav-link nav-icon-round";
                    }
                    <button class="@class1"
                            id="v-pills-home-tab"
                            data-bs-toggle="pill"
                            data-bs-target="#v-pills-@item.Key"
                            type="button"
                            role="tab"
                            aria-controls="v-pills-home"
                            aria-selected="true">
                        @item.Key
                    </button>
                }
            </div>
            <div class="tab-content" id="v-pills-tabContent">
                @foreach (var item in _wordList.GroupBy(a => a.Word1.ToUpper().First()).OrderBy(a => Convert.ToInt16(a.Key)))
                {
                    string class1 = "";
                    if (item.Key == 'A')
                    {
                        class1 = "dictionary-list tab-pane fade show active";
                    }
                    else
                    {
                        class1 = "dictionary-list tab-pane fade show";
                    }
                    <div class="@class1"
                         id="v-pills-@item.Key"
                         role="tabpanel"
                         aria-labelledby="v-pills-home-tab">
                        @foreach (var item1 in item.OrderBy(a => a.Word1))
                        {
                            <button class="btn-base btn-no-outline" @onclick="@(() => OnClickWord(item1.Id))">@item1.Word1</button>
                        }
                    </div>
                }
            </div>
        </div>
    }
</div>
@code {
    private List<Vocabulary> _vocabularyList = new();
    private List<Vocabulary> _displayList = new();
    private List<PartOfSpeech> _partOfSpeechList = new();
    private List<Word> _wordList = new();
    private bool _isDisplay = false;
    protected override async Task OnInitializedAsync()
    {
        _wordList = await http.GetFromJsonAsync<List<Word>>("Word") ?? new();
        _vocabularyList = await http.GetFromJsonAsync<List<Vocabulary>>("Vocabulary") ?? new();
        _partOfSpeechList = await http.GetFromJsonAsync<List<PartOfSpeech>>("PartOfSpeech") ?? new();
    }

    private void OnClickWord(long id)
    {
        _isDisplay = true;
        _displayList = _vocabularyList.Where(a => a.WordId == id).ToList();
    }
}

